.principal{
    margin:auto;
    width: 500px;
    background:#000000;
    text-align: center;
    padding: 3px;
   font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
   color: #00cc3d;
}
input[type=text]{
    
   float: right;
    margin: 5px;
    width: 55%;

}
label{
    float: left;
    margin: 5px;
    
}

#resultado{
   visibility: hidden;
   width: 483px;
   float: right;
   margin: 5px;
   text-align: center;

}

input[type="text"]:disabled {
    background: #006d75;
    color: #ffffff;
  }

  h1{
    color:#02ff2c;

  }

  .botao{
      font-size: 18px;
      margin-bottom: 3px;
      background-color: #03c263;
      border: #ffffff solid 1px;;
  }

  .botao:hover{
    background-color: #66ccff;
    border: #66ccff solid 1px;;

  }